// Use relative units: lh, %, rem.
// Learn to use cascading and specificity effectively.
// Make better use of DevTools.

//Default overrides.
$primary: #72502E;
$secondary: #9B7854;
$info: #E4CFB4;

$body-text-align: justify;
$body-color: #000;
$body-bg: #FFF;
$font-family-base: Arial;

$link-decoration: none;
$link-color: $primary;
$link-hover-color: $secondary;

$navbar-brand-font-size: 1.75rem;
$navbar-brand-color: black;
$navbar-padding-y: 1rem;
$navbar-toggler-focus-width: 0;
$dropdown-border-color: $primary;

$accordion-button-active-bg: $primary;
$accordion-button-active-color: white;
$accordion-button-focus-box-shadow: 0;
$accordion-button-bg: $info;

$list-group-bg: $info;

$card-border-color: transparent;
$card-bg: transparent;
$card-inner-border-radius: 0.5rem;

$offcanvas-color: $primary;

// Bootstrap source CSS.
@import "../bootstrap/scss/bootstrap";

// Custom CSS
// Links.
a, .nav-link,
.dropdown-item {
    color: $primary;
    font-weight: bold;
}

.nav-item > .nav-link.active,
.nav-item.dropdown > .nav-link.dropdown-toggle:focus,
a:hover, .nav-link:hover,
.dropdown-item:hover {
    color: $secondary;
}

// Interactive underline.
// Adapted from Jacob G's answer on StackOverflow:
// https://stackoverflow.com/questions/30352431/css-transition-not-working-with-underline
.interactive-under {
    display: inline-block;
}

.interactive-under::after {
    content: '';
    width: 0;
    height: 0.0625rem;
    display: block;
    background: $primary;
    transition: 300ms;
}

.interactive-under:hover::after {
    width: 100%;
}

// Navbar
.navbar {
    margin-right: 1.5rem;
    margin-left: 0.7rem;
}

.navbar-brand {
    font-family: "Poppins", Arial;
    font-weight: bold;
    text-align: center;
}

.dropdown-item:active,
.dropdown-item:hover {
    background-color: transparent;
}

// Navbar toggler.
.navbar-toggler {
    border: 0;
    width: auto;
}

.navbar-toggler:hover {
    box-shadow: 0.1875rem 0.1875rem $primary;
}

.nav-item {
    margin-bottom: 0;
    padding-bottom: 0;
}

// Cards.
.card {
    width: 100%;
    aspect-ratio: 1;
}

.card-img {
    object-fit: cover;
}

.card-body {
    border: 0.125rem solid $primary;
    border-radius: 0.5rem;
    background-color: $info;
    text-align: center;
    align-items: center;
}

.card-text {
    text-align: center;
    width: 100%;
}

// Header.
header {
    position: sticky;
    top: 0;
    background-color: $info;
    z-index: 5;
    border-bottom: 0.125rem solid $primary;
}

// Accordion.
.accordion-header {
    z-index: 4;
}

// List-group.
input[type=checkbox] {
    accent-color: $primary;
}

li {
    padding-bottom: 1rem;
}

.form-check-input {
    margin-right: 0.25rem;
}

.list-group {
    padding-left: 0;
    margin-top: 0.25rem;
}

// Offcanvas
.offcanvas {
    padding-left: 1rem;
}

.offcanvas-header {
    padding-bottom: 0;
}

.offcanvas-title {
    font-family: "Poppins", Arial;
}

.offcanvas-body {
    padding-top: 0.5rem;
    color: $secondary;
}

// Footer
footer {
    padding-bottom: 3rem;
    border-top: 0.125rem solid $primary;
    background-color: $info;

    .row {
        padding-top: 2rem;
        padding-bottom: 0;
        margin-bottom: 0;

        .col {
            margin-bottom: 0.25rem;
        }

        .h4, .h5 {
            color: black;
            font-weight: 600;
        }

        .nav {
            margin-top: 0.5rem;
        }

        .nav-link {
            padding: 0;
        }
    }
}

// Header groups and headers
h1, h2, h3,
h4, h5, h6 {
    font-family: "Poppins", Arial;
}

hgroup.big {
    text-align: center;
    margin-bottom: 1rem;

    h1 {
        padding-top: 0.5rem;
        padding-bottom: 0;
        margin-top: 1rem;
        color: $primary;
        font-weight: 600;
    }
}

h2, h3 {
    color: $primary;
    font-weight: 600;
}

h2.spaced, h3 {
    padding-top: 0;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}

// Double and single views
.double, .single {
    margin-bottom: 1.5rem;
}

.sticky-pane {
    position: sticky;
    margin-bottom: 0.5rem;
    top: 5rem;
    justify-content: center;    
}

.double-wide {
    .static-pane {
        margin-bottom: 1.5rem;

        .container {
            padding-left: 0;
            justify-content: start;
        }
    }

    .sticky-pane {
        border-left: 0.125rem solid $primary;

        > div {
            padding: 1.5rem;
        }

        img {
            border-radius: 50%;
            width: 75%;
            height: auto;
        }
    }
}

// Cover
.cover {
    h1 {
        margin-top: 1rem;
        margin-bottom: 0;
        padding-bottom: 1rem;
        color: $primary;
        font-weight: 600;
    }

    a {
        font-weight: 600;
        color: $primary;
    }

    img {
        margin: 1rem;
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
    }
}

// Empty page/sparse pane
.empty-page {
    text-align: center;
    align-items: start;
    height: 60vh;
}

.sparse-pane {
    min-height: 60vh;
}

@media (min-height: 875px) and (min-width: 768px) {
    .empty-page {
        height: 80vh;
    }
    
    .sparse-pane {
        min-height: 80vh;
    }
}

// Copyleft
// From Manuel M. Almeida on Medium:
// https://medium.com/@mmeida/how-to-insert-the-copyleft-symbol-f093113cc2cf
.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”;
}