//Default overrides.
$primary: #72502E;
$secondary: #9B7854;
$info: #E4CFB4;

$body-text-align: justify;
$body-color: #000;
$body-bg: #FFF;
$font-family-base: Arial;

$link-decoration: none;
$link-color: $primary;
$link-hover-color: $secondary;

$navbar-brand-font-size: 1.75rem;
$navbar-brand-color: black;
$navbar-padding-y: 1rem;
$navbar-toggler-focus-width: 0;
$dropdown-border-color: $primary;

$accordion-button-active-bg: $primary;
$accordion-button-active-color: white;
$accordion-button-focus-box-shadow: 0;
$accordion-button-bg: $info;

$list-group-bg: $info;

$card-border-color: transparent;
$card-bg: transparent;
$card-inner-border-radius: 0.5rem;

$offcanvas-color: $primary;

// Bootstrap source CSS.
@import "../bootstrap/scss/bootstrap";

// Webfonts.
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// Custom CSS
// Links.
a, .nav-link,
.dropdown-item {
    color: $primary;
    font-weight: bold;
}

//.nav-item > .nav-link.active,
//.nav-item.dropdown > .nav-link.dropdown-toggle:focus,
a:hover, .nav-link:hover,
.dropdown-item:hover {
    color: $secondary;
}

// Interactive underline.
// Adapted from Jacob G's answer: https://stackoverflow.com/questions/30352431/css-transition-not-working-with-underline
.interactive-under {
    display: inline-block;
}

.interactive-under::after {
    content: '';
    width: 0;
    height: 0.0625rem;
    display: block;
    background: $primary;
    transition: 300ms;
}

.interactive-under:hover::after {
    width: 100%;
}

// Navbar
.navbar {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.navbar-brand {
    font-family: "Poppins", Arial;
    font-weight: bold;
    text-align: center;
}

// Navbar toggler.
.navbar-toggler {
    border: 0;
    width: auto;
}

.navbar-toggler:hover {
    box-shadow: 0.1875rem 0.1875rem $primary;
}

// Cards.
.card {
    width: 100%;
}

.card-img {
    object-fit: cover;
}

.card-body {
    border-radius: 0.5rem;
}

.card-text {
    text-align: center;
}

// Header.
header {
    position: sticky;
    top: 0;
    background-color: $info;
    z-index: 5;
    border-bottom: 0.125rem solid $primary;
}

// Accordion.
.accordion-header {
    z-index: 4;
}

// List-group.
input[type=checkbox] {
    accent-color: $primary;
}

li {
    padding-bottom: 1rem;
}

// Offcanvas
.offcanvas {
    padding-left: 1rem;
}

.offcanvas-header {
    padding-bottom: 0;
}

.offcanvas-title {
    font-family: "Poppins", Arial;
}

.offcanvas-body {
    padding-top: 0.5rem;
    color: $secondary;
}

// Footer
footer {
    padding-bottom: 3rem;
    border-top: 0.125rem solid $primary;
    background-color: $info;
}

footer .row {
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;

    .col {
        margin-bottom: 0.25rem;
    }

    .h4, .h5 {
        color: black;
        font-family: "Poppins";
        font-weight: bold;
    }

    .nav-item {
        margin-top: 0.5rem;
    }

    .nav-item {
        margin-bottom: 0.5rem;
    }

    .nav-link {
        padding: 0;
    }
}