// TODO: DRY up the styling.

//Default overrides.
$primary: #72502E;
$secondary: #9B7854;
$info: #E4CFB4;

$body-text-align: justify;
$body-color: #000;
$body-bg: #FFF;
$font-family-base: Arial;

$link-decoration: none;
$link-color: $primary;
$link-hover-color: $secondary;

$navbar-brand-font-size: 1.75rem;

$accordion-button-active-bg: $primary;
$accordion-button-active-color: white;
$accordion-button-focus-box-shadow: 0;
$accordion-button-bg: $info;

$list-group-bg: $info;

$card-border-color: transparent;
$card-bg: transparent;

// Bootstrap source CSS.
@import "../bootstrap/scss/bootstrap";

// Webfonts.
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

// Custom CSS
// Links.
a, .nav-link,
.dropdown-item {
    color: $primary;
    font-weight: bold;
}

//.nav-item > .nav-link.active,
//.nav-item.dropdown > .nav-link.dropdown-toggle:focus,
a:hover, .nav-link:hover,
.dropdown-item:hover {
    color: $secondary;
}

// Interactive underline.
.interactive-under {
    display: inline-block;
}

.interactive-under::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: $primary;
    transition: 300ms;
}

.interactive-under:hover::after {
    width: 100%;
}

// Navbar toggler.
.navbar-toggler {
    border: 0;
}

.navbar-toggler:hover {
    box-shadow: 3px 3px $primary;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

// Dropdown menu in navbar.
.dropdown-menu {
    border: 2 solid $primary;
}

// Cards.
.card {
    width: 100%;
}

.card-img {
    object-fit: cover;
    border-radius: 0.5rem;
}

.card-body {
    border-radius: 0.5rem;
}

.card-text {
    text-align: center;
}

// Header.
header {
    position: sticky;
    top: 0;
    background-color: $info;
    z-index: 5;
}

// Accordion.
.accordion-header {
    z-index: 4;
}

// List-group.
input[type=checkbox] {
    accent-color: $primary;
}

li {
    padding-bottom: 1rem;
}
