{% extends "base.html" %}

{% from "macros.html" import single, gallery, custom_JS %}

{% block title %}{{ super() }} | {{ name }}{% endblock title %}

{% set description = name %}

{% block main %}
    <hgroup class="big">
        <h1>{{ name }}</h1>
    </hgroup>

    {% set category_gallery %}
        <div class="row g-4 sparse-pane">
            {{ gallery(recipes) }}
        </div>
    {% endset %}

    {{ single(name, category_gallery, False)}}
{% endblock main %}

{% block script %}{{ custom_JS() }}{% endblock script %}