{% extends "base.html" %}

{% from "macros.html" import double, single %}

{% block title %}{{ super() }} | {{ name }}{% endblock title %}

{% set description = name %}

{% block og_img %}{{ url_for("static", filename=thumbnail | media( name | path_format )) }}{% endblock og_img %}

{% block og_type %}blog{% endblock og_type %}

{% block main %}
    <hgroup class="big">
        <h1>{{ name }}</h1>
        <p><time class="h5" datetime="{{ ISO_date }}">{{ date }}</time></p>
        {% if original %}
            <p class="h5">Find the original Food-4Tots page <a href="{{ original }}">here</a>.</p>
        {% endif %}
    </hgroup>

    {% set cover_alt = name %}

    <div class="row justify-content-center mb-4">
        <img class="col-10 col-lg-6" src="{{ cover_img }}" alt="{{ cover_alt }}">        
    </div>

    {% set intro_alt = name %}

    {{ double("Intro", intro_content, intro_img, intro_alt, False) }}


    <hgroup class="big">
        <h2 class="spaced">Recipe</h2>
        {% if adapted %}
            <p class="h5">Adapted and modified from {{ adapted | safe }}</p>
        {% endif %}
        {% if yield %}
            <p class="h5">Yield: {{ yield }}</p>
        {% endif %}
    </hgroup>


    {% set ingredient_content %}
        <ul class="list-group">
            {% block ingredient_content %}{% endblock ingredient_content %}
        </ul>
    {% endset %}

    {{ double("Ingredients", ingredient_content, ingredient_img, ingredient_alt) }}


    {% set steps_content %}
        <div class="accordion ms-n1" id="steps">
            {% block steps_content%}{% endblock steps_content %}
        </div>
    {% endset %}

    
    {% set steps_alt = ["Step-by-step visual guide on how to make", name] | join(" ") %}

    {{ double("Steps", steps_content, steps_img, steps_alt) }}


    {% set notes_content %}
        <ol>
            {% block notes_content %}{% endblock notes_content %}
        </ol>
    {% endset %}

    {{ single("Notes", notes_content)}}

{% endblock main %}
