{% extends "recipes/recipe.html" %}

{% from "macros.html" import ingredient, accordion_item %}

{% set cover_img = url_for("static", filename= "" | media( name | path_format )) %}

{% set intro_content %}
    <p>
        
    </p>
{% endset %}

{% set intro_img = url_for("static", filename= "" | media( name | path_format )) %}

{% set adapted = "" %}

{% set yield = "" %}

{% block ingredient_content %}
    {{ ingredient("", 1) }}
{% endblock ingredient_content %}

{% set ingredient_img = url_for("static", filename= "" | media( name | path_format )) %}

{% set ingredient_alt = "" %}

{% block steps_content %}
    {% set accordion_body_1 %}
        <ol>
            <li>
                
            </li>
        </ol>
    {% endset %}
    {{ accordion_item("", accordion_body_1, 1, True) }}
{% endblock steps_content %}

{% set steps_img = url_for("static", filename= "" | media( name | path_format )) %}

{% block notes_content %}
    <li>
        
    </li>
{% endblock notes_content%}