{% extends "base.html" %}

{% from "macros.html" import double %}

{% set name = "About Us" %}

{% block title %}{{ super() }} | {{ name }}{% endblock title %}

{% block main %}
    <hgroup class="big">
        <h1>{{ name }}</h1>
    </hgroup>

    {% set story_content %}
        <p>
            I love eating Chinese steamed buns (pau) as much as I love making them.
            Making pau is a lot easier and quicker than baking bread. I can even knead it by hand.
            But, I must confess that mastering the skill is not easy.
            After spending months in making pau, I still couldn’t get a batch of completely “wrinkle-free” pau,
            no matter how much care and attention I put into kneading, proofing and steaming them.
            In my case, “practice does not always make perfect”. I kept wondering whether I have overlooked something.
        </p>
        <p>
            So, I read through some cookbooks and searched the internet, trying every possible way to find the cause.
            Recently, I got the answer from one of my favourite cookbooks.
            I’m thrilled that I finally nailed it and learned something new as well.
            It was actually the uneven steam pressure in the steamer that caused the ugly surface of my pau.
            I had used high heat to steam my pau and this led to a spike in the pressure inside the steamer that resulted in
            the pau expanding too fast and over-extended. After the steaming was done, the drop in temperature inside the steamer
            made the over-expanded pau failing to hold its shape and thus collapse. This scenario usually occurs when the home use
            steaming apparatus is comparatively small and is unable to cope with the high heat coming from the gas stove.
            To rectify this problem, I started off the steaming with cold water on medium heat and reduced it to medium low once
            the water started boiling. Five minutes before ending the steaming process, I lifted the lid slightly creating a tiny gap
            to release some of the steam pressure and to maintain an even pressure within the steamer. With all these adjustments,
            my entire batch of pau turned out to have smooth surfaces!
        </p>
        <p>
            This pau recipe that I share with you is a basic pau recipe that you can make it with or without filling.
            The wholemeal flour that I added is just my personal choice to make the pau a bit healthier.
            The recipe still works if you use solely pau flour or plain flour.
            For filling, I used my <a href="paste.html" class="">homemade red bean paste</a>.
            But, if you don’t want to do it from scratch, you can opt for ready-made red bean paste.
            If you do so, you may need a lesser amount than what I recommended in the recipe as the read-made paste is
            usually overly sweet. Besides that, you are also free to use any filling of your choice, be it sweet or savoury.
            Alternatively, you can also add some dried fruits, seeds and nuts, and then shape it like mantao.
            The choice is endless. Have fun!
        </p>
    {% endset %}

    {{ double("Story", story_content, url_for('static', filename='media/profile/profile_2.jpg'), show_title=False) }}
{% endblock main %}