{% extends "base.html" %}

{% from "macros.html" import double %}

{% set name = "About Us" %}

{% block title %}{{ super() }} | {{ name }}{% endblock title %}

{% block main %}
    <hgroup class="big">
        <h1>{{ name }}</h1>
    </hgroup>

    {% set story_content %}
        <p>
            My mum (Lai Kuan) started cooking for me (Sze Yoong) when I was a weaning toddler.
            While I was not a picky eater, I had my pet peeves: eggplant, zucchini, beetroot, cauliflower,
            coconut, papaya, watermelon... She wanted to nourish me with all the nutrients I needed, without
            relying on the usual tactics of blending vegetables into porridges and indulging me with french fries.
        </p>
        <p>
            Inspired by Nicola Graimes’
            <a href="https://www.dk.com/us/book/9781553633044-kids-fun-and-healthy-cookbook/">“Children’s Healthy &amp; Fun Cookbook”</a>,
            my mum crafted simple yet delicious
            recipes that allowed their ingredients to shine through. Even though she started off with zero cooking
            knowledge, she not only managed to convince me to try them, but even to ask for more! This motivated her
            to set up the original <a href="https://food-4tots.com/">Food-4Tots</a> in 2008 to share her experience
            with other mums around the world. If she could do it, anyone can!
        </p>
        <p>
            {{ after }} years later, I am now a happy and healthy young man. After my A Levels, I decided to venture
            into Computer Science and also learn to cook all the delicious goodies that I grew up eating.
            I challenged myself to redesign <a href="https://food-4tots.com/">Food-4Tots</a>, by refreshing its layout
            and transforming the static WordPress website into a dynamic Flask web app.
            If you're interested to learn more about how I did it, do check out my
            <a href="#">Youtube video</a> and
            <a href="https://github.com/sy8low/Food-4BigTots">GitHub repository</a>.
        </p>
        <p>
            I hope that the new app,
            <a href="{{ url_for('home.home') }}">Food-4BigTots</a>, will continue to bring back sweet memories from my
            childhood and help everyone make healthy food that also tastes really good.
        </p>
    {% endset %}

    {{ double("Story", story_content, url_for("static", filename= "profile_2" | media("profile", False)), "Lai Kuan and Sze Yoong",False) }}
{% endblock main %}