{% extends "base.html" %}

{% from "macros.html" import tile, double_wide, gallery, custom_JS %}

{% block main %}
    <div class="cover p-4 p-md-5">
        <div class="row gx-5">
            <div class="col-lg-6">
                <div>
                    <h1 class="display-5">
                        HEALTHY FOOD<br>GOOD FOOD
                    </h1>

                    <p class="mb-3">
                        No child is born a picky eater.<br>
                        Everyone can cook simple, nutritious food that tastes really good!
                    </p>

                    <p class="mb-0">
                        <a href="{{ url_for('home.about') }}" class="lead interactive-under">About Us</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-6 d-flex justify-content-center">
                <img class="col-10 img-thumbnail" src="{{ url_for('static', filename='profile_1' | media('profile', False) ) }}" alt="Young Sze Yoong playing with gingerbread men.">
            </div>
        </div>
    </div>

{% set left_content %}
    <h2 class="spaced">RECIPES</h2>

    <div class="container">
        <div class="row g-4 sparse-pane">
            {{ gallery(recipes) }}
        </div>

        <div class="row alert alert-info">
            <p>
                More recipes are on the way! To see more, head to <a href="https://food-4tots.com/">Food-4Tots</a>.
            </p>
        </div>
    </div>
{% endset%}

{% set right_content %}
    <div>
        <h2>ABOUT US</h2>

        <div class="d-flex justify-content-center m-4">
            <img src="{{ url_for('static', filename='profile_3' | media('profile', False) ) }}" alt="Lai Kuan and Sze Yoong">
        </div>

        <p>
            My mum (Lai Kuan), convinced that <b>no child is born a picky eater</b>,
            has never shied away from cooking the vegetables that picky eaters usually despise.
            With some creativity and lots of dedication, she crafted many delicious recipes
            that made these vegetables the star of the show, and helped me (Sze Yoong) 
            develop a healthy (no pun intended!) relationship with food.
            She set up <a href="https://food-4tots.com/">Food-4Tots</a>
            in 2008 to share her experience with other mums.
            If she could do it, anyone can!
        </p>
        <p class="mb-0">
            <a href="{{ url_for('home.home') }}">Food-4BigTots</a> is my tribute to the original
            <a href="https://food-4tots.com/">Food-4Tots</a>.
            As an aspiring CS student, I took up the challenge of transforming the static WordPress website
            into a dynamic Flask web app, and giving it a fresh new look.
            I hope that it will continue to bring back sweet memories from my childhood of helping my mum with the
            blog (testing food and modelling for photos)
            and help everyone make simple, healthy food that also taste really good.
        </p>
    </div>

    <div>
        <h2>FIND US</h2>

        <ol class="list-unstyled pt-2">
            <li>
                <a href="https://food-4tots.com/" class="interactive-under">The Original Food-4Tots</a>
            </li>
            <li>
                <a href="https://www.facebook.com/FoodForToddlers" class="interactive-under">FFT's Facebook</a>
            </li>
            <li>
                <a href="mailto:foodfortots@yahoo.com" class="interactive-under">FFT's Email</a>
            </li>
            <li>
                <a href="https://youtube.com/shorts/MnHiRstdcjE" class="interactive-under">Launch Video</a>
            </li>
            <li>
                <a href="https://youtu.be/5aG8SreoxTM" class="interactive-under">YouTube Behind-the-Scenes</a>
            </li>
            <li>
                <a href="https://github.com/sy8low/Food-4BigTots" class="interactive-under">GitHub Repository</a>
            </li>
            <li>
                <a href="https://shimmering-appliance-09d.notion.site/Food-4BigTots-64364e04a6f64fc0bc89dff5a4afdec6?pvs=74" class="interactive-under">Notion Wiki</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/sze-yoong-low-b52438210/" class="interactive-under">SY's LinkedIn</a>
            </li>
        </ol>
    </div>
{% endset%}

{{ double_wide(left_content, right_content) }}

{% endblock main %}

{% block script %}{{ custom_JS() }}{% endblock script %}

