<!DOCTYPE html>

{% from "macros.html" import nav_categories %}

{% set description %}No child is born a picky eater. Learn how to make simple, healthy food that also taste really good!{% endset %}

<html lang="en">
    <head>
        <title>{% block title %}Food-4BigTots{% endblock title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="desciption" content="{{ description }}">
        <meta name="author" content="Low Sze Yoong, Low Lai Kuan">

        <meta property="og:title" content="{{ self.title() }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="{% block og_img %}{{ url_for('static', filename='FFT_montage' | media('brand', False) ) }}{% endblock og_img %}">
        <meta property="og:type" content="{% block og_type %}profile{% endblock og_type %}">
        <meta property="og:url" content="https://www.food-4bigtots.xyz{{ request.path }}">
        <meta property="og:site_name" content="Food-4BigTots">
        <meta property="og:locale" content="en_UK">
        <meta property="og:logo" content="{{ url_for('static', filename='FFT_icon' | media('brand', False) ) }}">

        <meta name="twitter:title" content="{{ self.title() }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="{{ self.og_img() }}">
        <meta name="twitter:card" content="summary">
        <meta property="twitter:domain" content="food-4bigtots.xyz">
        <meta property="twitter:url" content="https://www.food-4bigtots.xyz{{ request.path }}">
        
        <link rel="icon" href="{{ url_for('static', filename='FFT_icon' | media('brand', False) ) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    </head>

    <body>
        <header>
            <nav class="navbar">
                <div class="container-fluid justify-content-start">
                    <div class="col-4">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navbar" aria-controls="offcanvas-navbar" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvas-navbar" aria-labelledby="offcanvas-navbar-label">
                            <div class="offcanvas-header">
                                <p class="offcanvas-title interactive-under h2" id="offcanvas-navbar-label">Menu</p>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('home.home') }}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('home.about') }}">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('recipes.recipe', cat='how-to', path='how-to-cope-with-picky-eaters-and-mealtime-problems') }}">Picky Eater Playbook</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Recipes
                                        </a>

                                        <ul class="dropdown-menu">
                                            {{ nav_categories() }}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <a class="col-4 navbar-brand" href="{{ url_for('home.home') }}">food 4 BIG tots</a>
                </div>
            </nav>
        </header>

        <main class="container">
            {% block main %}{% endblock main %}
        </main>

        <footer class="container-fluid">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-5">
                    <div class="col">
                        <a class="h4 text-nowrap" href="{{ url_for('home.home') }}">food 4 BIG tots</a>
                        <p class="mt-2 mb-0 text-body-secondary"><span class="copy-left">&copy;</span> 2024</p>
                        <p class="text-nowrap">
                            <a href="https://github.com/sy8low/Food-4BigTots/blob/main/LICENSE">GNU Affero General Public License v3.0</a>
                        </p>
                    </div>

                    <div class="col"></div>

                    <div class="col"></div>

                    <div class="col">
                        <a class="h5">Introduction</a>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="{{ url_for('home.about') }}" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('recipes.recipe', cat='how-to', path='how-to-cope-with-picky-eaters-and-mealtime-problems') }}" class="nav-link">Picky Eater Playbook</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col">
                        <a class="h5">Recipes</a>
                        <ul class="nav flex-column">
                            {{ nav_categories() }}
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% block script %}{% endblock script %}
    </body>
</html>
