<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}Food-4BigTots{% endblock title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="desciption" content="The much-awaited sequel to Food-4Tots.com.">
        <meta name="author" content="Low Sze Yoong, Low Lai Kuan">
        
        <link rel="icon" href="{{ url_for('static', filename='media/theme/FFT_icon.jpeg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    </head>

    <body>
        <header>
            <nav class="navbar">
                <div class="container-fluid justify-content-start">
                    <div class="col-4">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <p class="offcanvas-title interactive-under h2" id="offcanvasNavbarLabel">Menu</p>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('home.home') }}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('home.about') }}">About Us</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Recipes
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">One</a></li>
                                            <li><a class="dropdown-item" href="#">Two</a></li>
                                            <li><a class="dropdown-item" href="#">Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <a class="col-4 navbar-brand" href="{{ url_for('home.home') }}">food 4 BIG tots</a>
                </div>
            </nav>
        </header>

        <main class="container">
            {% block main %}{% endblock main %}
        </main>

        <footer class="container-fluid">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-5">
                    <div class="col">
                        <a class="h4 text-nowrap" href="{{ url_for('home.home') }}">food 4 BIG tots</a>
                        <p class="mt-2 text-body-secondary">&copy; 2024</p>
                    </div>

                    <div class="col"></div>

                    <div class="col"></div>

                    <div class="col">
                        <a class="h5">Introduction</a>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="{{ url_for('home.about') }}" class="nav-link">About Us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col">
                        <a class="h5">Recipes</a>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="{{ url_for('home.about') }}" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('home.about') }}" class="nav-link">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/interactive.js') }}"></script>
    </body>
</html>
