<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="desciption" content="">
        <meta name="author" content="Low Sze Yoong, Low Lai Kuan">
        <title>Food-4BigTots{% block title %}{% endblock title %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    </head>

    <body>
        <header class="border-bottom border-2 border-primary">
            <nav class="navbar py-3 mx-4">
                <div class="container-fluid justify-content-start">
                    <div class="col-4">
                        <button class="navbar-toggler w-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="offcanvas offcanvas-start ps-3" data-bs-scroll="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header text-primary pb-0">
                                <p class="h2 fw-medium poppins-regular offcanvas-title interactive-under" id="offcanvasNavbarLabel">Menu</p>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body text-secondary pt-2">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about.hmtl">About Us</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Recipes
                                        </a>

                                        <ul class="dropdown-menu border border-1 border-primary">
                                            <li><a class="dropdown-item" href="#">One</a></li>
                                            <li><a class="dropdown-item" href="#">Two</a></li>
                                            <li><a class="dropdown-item" href="#">Three</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <a class="col-4 navbar-brand text-black poppins-regular text-decoration-none text-center" href="index.html">
                        <span class="fw-bold">food 4 BIG tots</span>
                    </a>
                </div>
            </nav>
        </header>

        <main class="container">
            {% block main %}{% endblock %}
        </main>

        <footer class="container-fluid pb-5 border-top border-primary border-2 bg-info">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-5 pt-5 pb-0 mb-0">
                    <div class="col mb-0">
                        <a class="h4 text-black poppins-regular text-decoration-none text-center" href="index.html">
                            <span class="fw-bold">food 4 BIG tots</span>
                        </a>
                        <p class="mt-2 text-body-secondary">&copy; 2024</p>
                    </div>

                    <div class="col mb-0"></div>

                    <div class="col mb-1"></div>

                    <div class="col mb-1">
                        <h5 class="poppins-regular text-black fw-bold">Introduction</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="about.html" class="nav-link p-0">About Us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col mb-1">
                        <h5 class="poppins-regular text-black fw-bold">Recipes</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="about.html" class="nav-link p-0">About Us</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="about.html" class="nav-link p-0">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/interactive.js') }}"></script>
    </body>
</html>
