{% extends "recipes/recipe.html" %}

{% from "macros.html" import ingredient, accordion_item %}

{% set cover_img = url_for("static", filename= "alm_biscotti_2" | media( name | path_format )) %}

{% set intro_content %}
    <p>
        In the blink of an eye, it’s already March. Chinese Lunar New Year has passed and the
        first quarter of the year will soon be over. March is also a month where seven of my
        family members celebrate their birthdays. This includes my not-so-little boy (who is
        turning eight soon) and me. As usual, we don’t hold birthday parties but will celebrate
        in a simple way. On my recent birthday, my hubby and son made me a cup of freshly brewed
        coffee and served it with a few slices of almond biscotti during our afternoon tea break.
        It was nothing grand but I cherish such precious moment dearly.
    </p>
    <p>
        Speaking of these twice baked, oil-free biscotti, they are easy-to-make as they require
        only a few simple ingredients. If you want them to be extra crisp, then the thickness of
        the slices must be around 0.3cm. Although it may sound very challenging for first timer,
        there are some useful tips to make cutting easier. When shaping the logs, make sure they
        are flattened to a height of  1.5cm. After the first round of baking, allow the logs to
        cool down and then slice them with a serrated knife. I have baked these biscotti many times
        before but I’m still not an expert at cutting them into thin slices. Sometimes, the slices
        may crumble and break into pieces especially at both ends of the log. Anyway, if you can’t,
        it’s still fine to have thickness between 0.8-1cm. If you find them too thick and hard for
        your kids to munch on, then dunk them into milk or other hot beverage to soften.
    </p>
    <p>
        Making these biscotti with almonds is an ideal way for parents to introduce first nut to
        their kids as almonds have a low allergic potential. Furthermore, almonds are packed with
        lots of essential nutrients and eating them is good for the brain, the heart as well as the
        bones. (To know more about almonds, please go to
        <a href="https://food-4tots.com/2010/09/13/honey-roasted-almonds/">this</a> post).
        As these biscotti contains nut,
        they may not be suitable for young toddlers and kids who have nut-allergy. For this, you may
        substitute them with dried fruits (such as cranberries) and seeds (such as pumpkin seeds and
        sunflower seeds).
    </p>
    <p>
        I gave a box of these biscotti to my sister during our recent get together. She later called
        to tell me that the biscotti were gone in less than half an hour and she couldn’t have a
        second helping! I also shared the biscotti with other relatives and friends. Surprisingly,
        the demand far exceeded supply! Some got hooked and asked for more while some offered to pay
        me to bake these biscotti for them. Looking at such over-whelming responses, how could I not
        share this wonderful recipe with all of you? So, bake some and share them with your family and
        friends. I assure you that it’s definitely worth an effort!
    </p>
    <p>
        I’m very pleased to be invited by <a href="http://munchministry.com/">Munch Ministry</a> to
        share this recipe at their <a href="http://munchministry.com/homecooks-spotlight/homecooks-spotlight-lai-kwan-of-food-for-tots/">Homecooks Spotlight</a>.
        Check out also their interview with me over there.
    </p>
{% endset %}

{% set intro_img = url_for("static", filename= "alm_biscotti_1" | media( name | path_format )) %}

{% set adapted = "" %}

{% set yield = "" %}

{% block ingredient_content %}
    {{ ingredient("120g plain flour (all-purpose flour)", 1) }}

    {{ ingredient("30g almond flour (ground almond)", 2) }}

    {{ ingredient("½ tsp baking powder", 3) }}

    {{ ingredient("1 egg (about 65g) – at room temperature", 4) }}

    {{ ingredient("75g castor sugar", 5) }}

    {{ ingredient("Pinch of salt", 6) }}

    {{ ingredient("95g almonds (raw)", 7) }}
{% endblock ingredient_content %}

{% set ingredient_img = url_for("static", filename= "alm_biscotti_4" | media( name | path_format )) %}

{% set ingredient_alt = "Almonds and biscotti arranged like cars driving over a hill" %}

{% block steps_content %}
    {% set accordion_body_1 %}
        <ol>
            <li>
                Rinse almonds lightly. Pat dry with kitchen towel. (it’s optional)
            </li>
            <li>
                Place almonds on a baking tray, bake in a preheated oven at 160°C for 8 minutes.
                Give it a stir after the first 4 minutes. Set aside to cool.
            </li>
        </ol>
    {% endset %}
    {{ accordion_item("Roasting the almonds", accordion_body_1, 1, True) }}

    {% set accordion_body_2 %}
        <ol start="3">
            <li>
                In a mixing bowl, sieve plain flour, almond flour and baking powder. Then use a hand whisk to combine.
            </li>
            <li>
                In another bowl, beat the egg lightly with a hand whisk or electrical mixer. Then add in sugar and salt.
                Beat until the mixture is fluffy and pale.
            </li>
            <li>
                Add in flour mixture (from step 3). Use a rubber spatula or plastic scraper to mix all the ingredients until well combined.
                You can use technique such as cut, press and scrape to mix.
            </li>
            <li>
                Then add in the roasted almonds. Mix until well combined and form a dough. At this stage, the dough is quite sticky.
                So, dust your hands and counter top with more flours before proceeding to the next step.
            </li>
            <li>
                Transfer the dough to a floured surface. Divide the dough into two equal portions, roll into log shapes
                (22cm length x 5cm width x 1.5cm thickness) and then flatten slightly
                <a href="#note-4">(refer to note 4)</a>.
        </ol>
    {% endset %}
    {{ accordion_item("Preparing the dough", accordion_body_2, 2) }}

    {% set accordion_body_3 %}
        <ol start="8">
            <li>
                Place the logs on a baking tray lined with grease-proof baking paper.
                Transfer the tray to oven, bake at 160°C for 30 minutes or until well risen and firm.
                If your logs show uneven colour, rotate them at 180 degree towards the last 5 minutes.
            </li>
            <li>
                Remove from the oven and let it cool for about 15-20 minutes <a href="#note-1">(note 1)</a>.
            </li>
            <li>
                When the logs are cooled, use a <b>serrated knife</b> (refer to the photo on the right) to cut it
                diagonally into thin slices (0.3cm thickness – <a href="#note-1">note 1</a>).
                Arrange slices on the lined baking tray, transfer to oven, place at the lowest rack and bake
                for a further 150°c for 14 minutes (7 minutes for each side) or until slightly golden brown.
            </li>
            <li>
                Cool on rack and keep in an air-tight container for several weeks.
            </li>
        </ol>
    {% endset %}
    {{ accordion_item("Baking the biscotti", accordion_body_3, 3) }}
{% endblock steps_content %}

{% set steps_img = url_for("static", filename= "alm_biscotti_5" | media( name | path_format )) %}

{% block notes_content %}
    <li id="note-1">
        After baking the logs for the first round, allow them to cool down and then slice them with a serrated knife.
        Otherwise, the biscotti will crumble and break easily. If you find problem cutting the slices into 0.3cm thickness,
        then the thickness between 0.8-1cm should be fine too.
    </li>
    <li>
        If these biscottis turn soft after some time, bake them in a preheated oven at 150°c for 5 minutes to crisp.
    </li>
    <li>
        Watch <a href="http://www.youtube.com/watch?feature=player_embedded&v=FQwgweL7Sls">this</a> video on how to shape the dough.
    </li>
    <li id="note-4">
        As these biscotti contains nut, they may not be suitable for young toddlers and kids who have nut-allergy.
        For this, you may substitute them with dried fruits (such as cranberries) and seeds (such as pumpkin seeds and sunflower seeds).
    </li>
{% endblock notes_content%}